In [102]:
import numpy as np
import pandas as pd
import nltk
import string
from nltk.corpus import stopwords

In [103]:
train = pd.read_csv('myfile3.txt',delimiter='$')

In [104]:
#train.info()

In [105]:
train['Length'] = train['Body'].apply(len)

In [106]:
train.head()

,Body,Thread_Id,Date,Date_Sent,Address,Unnamed: 5,Length
0,[ body:HDFCUPI 48PWqRHx1fPnBmoTQeZrNXBAj2xwl36...,thread_id:38,date:1511195729532,date_sent:0,address:+919289210101,NaN,61
1,"body:Dear Customer, You have 2 missed calls...",thread_id:152,date:1511195566351,date_sent:1511195553000,address:+917986452922,NaN,141
2,body:4466218083398,thread_id:22,date:1511185904196,date_sent:0,address:09634224747,NaN,21
3,body:Haan,thread_id:68,date:1511172956752,date_sent:1511172960559,address:+918279925985,NaN,12
4,body:Attendance ho gyi?,thread_id:68,date:1511172156198,date_sent:1511172154000,address:+918279925985,NaN,26

In [107]:
train.rename(columns={'Unnamed: 5':'waste'}, inplace=True)

In [108]:
train.drop('waste',axis=1,inplace=True)

In [109]:
#train.head()

In [110]:
def process_text(mess):
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    #print(nopunc)
    # Now just remove any stopwords
    return [word.lower() for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [111]:
def correct_text(cols):
    return process_text(cols)

In [112]:
train['Body'] = train['Body'].apply(correct_text)

In [113]:
#train.head()

In [114]:
fashion = ['fashion','myntra','fbb','fashion','amazon','flipkart','clothes','gifts','festive','season','sale','jewellery','shopping','shop','voucher','offer','center']
food = ['food','dominos','pizza','hut','cheese','medium','pizzahut','food','veg','groceries','burger','sandwhich','foodpanda','grofers','bazaar','milkshake','baker','cake','cookies']
finance = ['finance','recharge','paytm','mobile','balance','bank','inr','debit','card','credit','acct','icici','hdfc','sbi','pnb','fixed','deposit','property','estate','sell','central','market','invest','investment','buy','lacs','emi','loan','investor']
health = ['health','weight','blood','test','medicines','medicine','disease','loss','water','purifier','homeopathy','homeopathic','ayurvedic']
#education = ['education','exam','education','college','quiz','tutorial','course','school','college','result']
education = ['cabs','pool','uber','ola','ride','discount','uberGO','share','city','cab','PNR','book','pnr','booking','order']
telecom = ['telecom','customer','airtel','jio','vodafone','idea','call','unlimited','balance','recharge']


# Aur categories daalni hai.... please daal do achi achi categories isme

In [115]:
#food

In [116]:
def label_it(cols):
    
    fashion_count = 0
    food_count = 0
    finance_count = 0
    health_count = 0
    education_count = 0
    telecom_count = 0

    
    for word in cols:
        #print(word)
        if word in fashion:
            fashion_count += 1
        
        if word in food:
            food_count += 1
        
        if word in finance:
            finance_count += 1  
            
        if word in health:
            health_count += 1   
            
        if word in education:
            education_count += 1
            
        if word in telecom:
            telecom_count += 1
            #print('Hello',finance_count)
            
    total = int(fashion_count + food_count + finance_count + health_count + education_count + telecom_count)
    
    if total==0:
        total = 1
    
    fashion_avg = float(fashion_count/total)
    food_avg = float(food_count/total)
    finance_avg = float(finance_count/total)
    health_avg = float(health_count/total)    
    education_avg = float(education_count/total)    
    telecom_avg = float(telecom_count/total)
    
    
    maxx = max(fashion_avg,food_avg,finance_avg,health_avg,education_avg,telecom_avg)
    if maxx==0:
        return 'other'
    elif maxx==fashion_avg:
        return 'fashion'    
    elif maxx==food_avg:
        return 'food'
    elif maxx==finance_avg:
        return 'finance'
    elif maxx==health_avg:
        return 'health'
    elif maxx==education_avg:
        return 'education'
    elif maxx==telecom_avg:
        return 'telecom'

In [117]:
train['Label'] = train['Body'].apply(label_it)

In [118]:
#train.head()

In [119]:
#train[train['Label']=='education']

In [120]:
#train.drop(train[train['Label']=='other'].index,inplace=True)

In [121]:
#train.drop(train[train['Label']=='telecom'].index,inplace=True)

In [122]:
#train[train['Label']=='other']

In [123]:
#train.groupby('Label')['Label'].describe()

In [124]:
finan = train[train['Label']=='finance']
fash = train[train['Label']=='fashion']
foo = train[train['Label']=='food']
edu = train[train['Label']=='education']
heal = train[train['Label']=='health']
oth = train[train['Label']=='other']
telec = train[train['Label']=='telecom']

In [125]:
finan.info()
foo.info()
fash.info()
edu.info()
heal.info()
oth.info()
telec.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1224 entries, 75 to 7727
Data columns (total 7 columns):
Body         1224 non-null object
Thread_Id    1224 non-null object
Date         1224 non-null object
Date_Sent    1224 non-null object
Address      1224 non-null object
Length       1224 non-null int64
Label        1224 non-null object
dtypes: int64(1), object(6)
memory usage: 76.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 146 entries, 77 to 7714
Data columns (total 7 columns):
Body         146 non-null object
Thread_Id    146 non-null object
Date         146 non-null object
Date_Sent    146 non-null object
Address      146 non-null object
Length       146 non-null int64
Label        146 non-null object
dtypes: int64(1), object(6)
memory usage: 9.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 822 entries, 80 to 7711
Data columns (total 7 columns):
Body         822 non-null object
Thread_Id    822 non-null object
Date         822 non-null object
Date_Sent    822 non-null object
Address      822 non-null object
Length       822 non-null int64
Label        822 non-null object
dtypes: int64(1), object(6)
memory usage: 51.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 368 entries, 74 to 7721
Data columns (total 7 columns):
Body         368 non-null object
Thread_Id    368 non-null object
Date         368 non-null object
Date_Sent    368 non-null object
Address      368 non-null object
Length       368 non-null int64
Label        368 non-null object
dtypes: int64(1), object(6)
memory usage: 23.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 297 entries, 96 to 7708
Data columns (total 7 columns):
Body         297 non-null object
Thread_Id    297 non-null object
Date         297 non-null object
Date_Sent    297 non-null object
Address      297 non-null object
Length       297 non-null int64
Label        297 non-null object
dtypes: int64(1), object(6)
memory usage: 18.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3652 entries, 0 to 7726
Data columns (total 7 columns):
Body         3652 non-null object
Thread_Id    3652 non-null object
Date         3652 non-null object
Date_Sent    3652 non-null object
Address      3652 non-null object
Length       3652 non-null int64
Label        3652 non-null object
dtypes: int64(1), object(6)
memory usage: 228.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1219 entries, 1 to 7712
Data columns (total 7 columns):
Body         1219 non-null object
Thread_Id    1219 non-null object
Date         1219 non-null object
Date_Sent    1219 non-null object
Address      1219 non-null object
Length       1219 non-null int64
Label        1219 non-null object
dtypes: int64(1), object(6)
memory usage: 76.2+ KB

In [126]:
#finan.head()

In [127]:
start = 145
finan = finan.drop(finan.index[[ind for ind in range(start,1197)]],axis=0)
#foo = foo.drop(foo.index[[ind for ind in range(start,149)]],axis=0)
fash = fash.drop(fash.index[[ind for ind in range(start,976)]],axis=0)
edu = edu.drop(edu.index[[ind for ind in range(start,350)]],axis=0)
heal = heal.drop(heal.index[[ind for ind in range(start,266)]],axis=0)
oth = oth.drop(oth.index[[ind for ind in range(start,3600)]],axis=0)
telec = telec.drop(telec.index[[ind for ind in range(start,1194)]],axis=0)

IndexError: index 822 is out of bounds for axis 0 with size 822

In [128]:
#finan

In [129]:
#finan.info()

In [130]:
train = [finan,foo,fash,edu,oth,heal,telec]

In [131]:
train = pd.concat(train)

In [132]:
#train.info()

In [133]:
#train['Label'].describe()

In [134]:
#train.groupby('Label')['Label'].describe()

In [135]:
#train

In [136]:
train.head()

,Body,Thread_Id,Date,Date_Sent,Address,Length,Label
75,"[body, earn, rs25000, annually, also, get, lum...",thread_id: 1790,date: 1509773729218,date_sent: 1509773718000,address: DZEISSMS,164,finance
79,"[body, dear, customer, invest, axis, multicap,...",thread_id: 2145,date: 1509703786413,date_sent: 1509703785000,address: AD200001,164,finance
81,"[body, eligible, preapproved, axis, bank, neo,...",thread_id: 1401,date: 1509700065511,date_sent: 1509700063000,address: DM098067,113,finance
83,"[body, dear, customer, 2, days, invest, sovere...",thread_id: 2153,date: 1509699838775,date_sent: 1509698906000,address: DM014534,166,finance
85,"[body, buy, shops, preleased, trusted, brand, ...",thread_id: 827,date: 1509690435814,date_sent: 1509690433000,address: DM021021,155,finance

In [137]:
train.drop(['Thread_Id','Date','Date_Sent','Address'],axis=1,inplace=True)

In [138]:
train.head()

                                                 Body  Length    Label
75  [body, earn, rs25000, annually, also, get, lum...     164  finance
79  [body, dear, customer, invest, axis, multicap,...     164  finance
81  [body, eligible, preapproved, axis, bank, neo,...     113  finance
83  [body, dear, customer, 2, days, invest, sovere...     166  finance
85  [body, buy, shops, preleased, trusted, brand, ...     155  finance

In [139]:
from sklearn.utils import shuffle
train = shuffle(train)

In [140]:
train.head()

                                                   Body  Length   Label
3661  [bodyphone, allow, ni, h, 😭and, pic, kapde, ni...      50   other
6984  [bodyyour, new, yr, resolution, solution, loos...     168  health
1781  [body, ebill, passwordlower, case, mzey, secur...     249   other
3176                    [bodycheck, whatsapp, send, ss]      37   other
5605  [bodyab, tum, dikhate, hi, nahi, ho, kaise, de...      54   other

In [141]:
Features = train['Label']

In [142]:
train.drop('Label',axis=1,inplace=True)

In [143]:
from sklearn.feature_extraction.text import CountVectorizer

In [144]:
def tostring(cols):
    
    ch = ''
    
    for word in cols:
        ch += word + ' '
    
    return ch

In [145]:
train['Body'] = train['Body'].apply(tostring)

In [146]:
#train.head()

In [147]:
bow_transformer = CountVectorizer().fit(train['Body'])
Bow4=bow_transformer.transform(train['Body'])
print(bow_transformer.get_feature_names()[22])

0113

In [148]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer=TfidfTransformer().fit(Bow4)
Message=tfidf_transformer.transform(Bow4)

In [149]:
from sklearn.naive_bayes import MultinomialNB
Fitter=MultinomialNB().fit(Bow4,Features)

In [150]:
all_predict=Fitter.predict(Bow4)

In [151]:
#all_predict

In [152]:
from sklearn.metrics import classification_report
print(classification_report(Features,all_predict))

             precision    recall  f1-score   support

  education       0.88      0.96      0.92       368
    fashion       0.85      0.96      0.90       822
    finance       0.99      0.78      0.88       172
       food       0.98      0.90      0.94       146
     health       0.87      0.96      0.91       297
      other       0.99      0.96      0.98      3652
    telecom       0.95      0.96      0.96      1219

avg / total       0.96      0.95      0.95      6676

In [153]:
#filter.predict(['dominos'])

In [154]:
from sklearn.model_selection import train_test_split
msg_train,msg_test,label_train,label_test=train_test_split(train['Body'],Features,test_size=0.2, random_state=42)

In [155]:
#msg_train

In [156]:
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    ff = open('stopwords.txt','r')
    ll = ff.read().split()
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in ll]

In [157]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),  # strings to token integer counts
    
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [158]:
pipeline.fit(msg_train,label_train)

Pipeline(memory=None,
     steps=[('bow', CountVectorizer(analyzer=<function text_process at 0x000002219F5C7AE8>,
        binary=False, decode_error='strict', dtype=<class 'numpy.int64'>,
        encoding='utf-8', input='content', lowercase=True, max_df=1.0,
        max_features=None, min_df=1, ngram_range=(1, 1), preprocesso...None, vocabulary=None)), ('classifier', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [159]:
predictions=pipeline.predict(msg_test)

In [160]:
print(classification_report(label_test,predictions))

             precision    recall  f1-score   support

  education       0.65      0.77      0.71        71
    fashion       0.77      0.93      0.84       190
    finance       1.00      0.40      0.58        42
       food       0.90      0.84      0.87        31
     health       0.78      0.84      0.81        62
      other       0.98      0.91      0.94       716
    telecom       0.83      0.89      0.86       224

avg / total       0.90      0.88      0.88      1336

In [161]:
pipeline.predict(["Uber : You've got 50% off your 10 next 10 non-uberPOOL rides in Delhi NCR until 20-11-2017"])

array(['other'],
      dtype='<U9')

In [162]:
pipeline.predict(['medicine'])

array(['other'],
      dtype='<U9')

In [163]:
from sklearn.externals import joblib

In [164]:
joblib.dump(pipeline,'FinalFile.pkl')

['FinalFile.pkl']

In [165]:
Classifier=joblib.load('FinalFile.pkl')

In [166]:
Classifier.predict(['Hello there, you have unlocked 50 rides'])

array(['other'],
      dtype='<U9')