In [331]:
import pandas as pd
import string
from nltk.corpus import stopwords

In [361]:
df = pd.read_csv('myfile3.txt',delimiter='$')

In [362]:
df.head()

,Body,Thread_Id,Date,Date_Sent,Address,Unnamed: 5
0,[ body:HDFCUPI 48PWqRHx1fPnBmoTQeZrNXBAj2xwl36...,thread_id:38,date:1511195729532,date_sent:0,address:+919289210101,NaN
1,"body:Dear Customer, You have 2 missed calls...",thread_id:152,date:1511195566351,date_sent:1511195553000,address:+917986452922,NaN
2,body:4466218083398,thread_id:22,date:1511185904196,date_sent:0,address:09634224747,NaN
3,body:Haan,thread_id:68,date:1511172956752,date_sent:1511172960559,address:+918279925985,NaN
4,body:Attendance ho gyi?,thread_id:68,date:1511172156198,date_sent:1511172154000,address:+918279925985,NaN

In [363]:
df.drop(['Thread_Id','Date','Date_Sent','Address','Unnamed: 5'],axis=1,inplace=True)

In [364]:
def func(cols):
    return ' '.join(cols.split(':'))
def func2(cols):
    return ''.join([char for char in cols if char not in string.punctuation])
def func3(cols):
    return [word.lower() for word in cols.split() if word.lower() not in stopwords.words('English') and word.lower()!='body']
    
#df['Body'] = df['Body'].apply(func)

In [365]:
df['Body'] = df['Body'].apply(func)

In [366]:
df.head()

                                                Body
0  [ body HDFCUPI 48PWqRHx1fPnBmoTQeZrNXBAj2xwl36...
1     body Dear Customer, You have 2 missed calls...
2                                 body 4466218083398
3                                          body Haan
4                            body Attendance ho gyi?

In [367]:
df2 = pd.read_csv('new.csv')

In [368]:
df2.rename(columns={'Message':'Body'},inplace=True)

In [369]:
df2.drop(['Label'], axis=1,inplace=True)

In [370]:
df2.head()

                                                Body
0  Dear Student, Its never too late-clear your ba...
1  Join V-STUDY and score excellent marks in clas...
2  Join crash courses for B.ST,A/C'S,ECO,ENG,&IP ...
3  CRASH COURSES by BEST POOL OF FACULTY. ENGLISH...
4  Dear Ola Shuttle user, get 60% Off on your nex...

In [371]:
total = pd.concat([df,df2])

In [372]:
total.tail()

                                                  Body
179  SPOT ADMISSIONS FOR FORENSIC SCIENCE, Cardiac ...
180  CBSE Private Exam 2018, Forms are starting for...
181  If you receive offer of lottery winnings or ch...
182  Gokul sent you a Blue Packet which expires in ...
183  CBSE Private Exam 2018, Forms are starting for...

In [373]:
df = total

In [374]:
df['Body'] = df['Body'].apply(func2)

In [375]:
df.tail()

                                                  Body
179  SPOT ADMISSIONS FOR FORENSIC SCIENCE Cardiac C...
180  CBSE Private Exam 2018 Forms are starting for ...
181  If you receive offer of lottery winnings or ch...
182  Gokul sent you a Blue Packet which expires in ...
183  CBSE Private Exam 2018 Forms are starting for ...

In [376]:
df['Body'] = df['Body'].apply(func3)

In [377]:
df.tail()

                                                  Body
179  [spot, admissions, forensic, science, cardiac,...
180  [cbse, private, exam, 2018, forms, starting, c...
181  [receive, offer, lottery, winnings, cheap, fun...
182  [gokul, sent, blue, packet, expires, 59, mins,...
183  [cbse, private, exam, 2018, forms, starting, c...

In [378]:
fashion = ['fashion','myntra','fbb','amazon','flipkart','clothes','gifts','festive','season','shopping','sale','offer','stores']
food = ['food','offer','burgur','pizza','dominos','veg','snacks','desserts','recipie','cake','eat','homemade','cooked','delicious','taste']
finance = ['money','finance','recharge','bank','account','inr','ruppee','balance','purchase','sale','transaction','credit','debit','deposit','property','sell','buy','market','invest','loan','bank','cash','rs']
health = ['health','weight','blood','test','heart','kidney','hospital','medicine','disease','water','homeopathy','ayurvedic']
travel = ['cabs','pool','uber','ola','ride','discount','share','city','travel','cab','train','book','ticket','order']
telecom = ['telecom','recharge','bill','joi','vodafone','airtel','call','sms','customer']

In [21]:
fashion = ['fashion','myntra','fbb','fashion','amazon','flipkart','clothes','gifts','festive','season','sale','jewellery','shopping','shop','voucher','offer','center']
food = ['food','dominos','pizza','hut','cheese','medium','pizzahut','food','veg','groceries','burger','sandwhich','foodpanda','grofers','bazaar','milkshake','baker','cake','cookies']
finance = ['finance','recharge','paytm','mobile','balance','bank','inr','debit','card','credit','acct','icici','hdfc','sbi','pnb','fixed','deposit','property','estate','sell','central','market','invest','investment','buy','lacs','emi','loan','investor']
health = ['health','weight','blood','test','medicines','medicine','disease','loss','water','purifier','homeopathy','homeopathic','ayurvedic']
#education = ['education','exam','education','college','quiz','tutorial','course','school','college','result']
education = ['cabs','pool','uber','ola','ride','discount','uberGO','share','city','cab','PNR','book','pnr','booking','order']
telecom = ['telecom','customer','airtel','jio','vodafone','idea','call','unlimited','balance','recharge']


# Aur categories daalni hai.... please daal do achi achi categories isme

In [379]:
from nltk.stem import WordNetLemmatizer

In [380]:
lemm = WordNetLemmatizer()

In [381]:
from nltk.stem import PorterStemmer

In [382]:
st = PorterStemmer()

In [383]:
fashion = [st.stem(word) for word in fashion]
food = [st.stem(word) for word in food]
finance = [st.stem(word) for word in finance]
health = [st.stem(word) for word in health]
travel = [st.stem(word) for word in travel]
telecom = [st.stem(word) for word in telecom]

In [384]:
health

['health',
 'weight',
 'blood',
 'test',
 'heart',
 'kidney',
 'hospit',
 'medicin',
 'diseas',
 'water',
 'homeopathi',
 'ayurved']

In [385]:
#use stem

In [386]:
def label_it(cols):
    
    fashion_count = 0
    food_count = 0
    finance_count = 0
    health_count = 0
    travel_count = 0
    telecom_count = 0

    
    for word in cols:
        word = word.lower()
        word = st.stem(word)

        #print(word)
        if word in fashion:
            fashion_count += 1
        
        if word in food:
            food_count += 1
        
        if word in finance:
            finance_count += 1  
            
        if word in health:
            health_count += 1   
            
        if word in travel:
            travel_count += 1
            
        if word in telecom:
            telecom_count += 1
            #print('Hello',finance_count)
            
    total = int(fashion_count + food_count + finance_count + health_count + travel_count + telecom_count)
    
    if total==0:
        total = 1
    
    fashion_avg = float(fashion_count/total)
    food_avg = float(food_count/total)
    finance_avg = float(finance_count/total)
    health_avg = float(health_count/total)    
    travel_avg = float(travel_count/total)    
    telecom_avg = float(telecom_count/total)
    
    
    maxx = max(fashion_avg,food_avg,finance_avg,health_avg,travel_avg,telecom_avg)
    if maxx==0:
        return 'other'
    elif maxx==fashion_avg:
        return 'fashion'    
    elif maxx==food_avg:
        return 'food'
    elif maxx==finance_avg:
        return 'finance'
    elif maxx==health_avg:
        return 'health'
    elif maxx==travel_avg:
        return 'travel'
    elif maxx==telecom_avg:
        return 'telecom'

In [387]:
df['Label'] = df['Body'].apply(label_it)

In [388]:
df

                                                  Body    Label
0    [hdfcupi, 48pwqrhx1fpnbmotqezrnxbaj2xwl36v4tcg...    other
1    [dear, customer, 2, missed, calls, 91798645292...  telecom
2                                      [4466218083398]    other
3                                               [haan]    other
4                                [attendance, ho, gyi]    other
5                                      [2843200343195]    other
6                                      [5177178220357]    other
7    [dear, customer, 918279925985, available, take...  telecom
8    [invited, hike, sent, free, money, join, get, ...  finance
9                                                   []    other
10                                        [8860727024]    other
11                                     [4193328457651]    other
12   [invited, hike, sent, free, money, join, get, ...  finance
13   [invited, hike, sent, free, money, join, get, ...  finance
14   [dear, customer, missed, call, 919897740346, l...  telecom
15   [dear, customer, 2, missed, calls, 91989774034...  telecom
16                         [https, youtubeilg3ggewq5u]    other
17   [dear, customer, 2, missed, calls, 91989774034...  telecom
18                                     [1651648459490]    other
19      [upi, pg2ctmq2tclq3vrb5gvu1jpsukrkylijuhia9va]    other
20                             [parimal, ka, bhej, de]    other
21   [dear, customer, 918279925985, available, take...  telecom
22   [dear, customer, missed, call, 919411151102, l...  telecom
23   [dear, customer, missed, call, 918057702328, l...  telecom
24   [dear, customer, missed, call, 918057702328, l...  telecom
25   [dear, customer, 2, missed, calls, 91941115110...  telecom
26   [dear, customer, 2, missed, calls, 91861960608...  telecom
27   [dear, customer, missed, call, 918800454404, l...  telecom
28   [dear, customer, missed, call, 919958936869, l...  telecom
29   [ek, baar, check, kar, lo, application, ki, so...    other
..                                                 ...      ...
154  [great, news, starting, crash, courses, acseng...    other
155  [great, news, starting, crash, courses, acseng...    other
156  [join, crash, course, acsengbstip, eco, batche...  telecom
157                          [aaj, ho, rhi, hai, pdai]    other
158                                      [acchi, wali]    other
159  [lenskart, celebrates, 32, optical, stores, de...  fashion
160  [lenskarts, bestselling, air, collection, ligh...  fashion
161  [invited, hike, join, 24, hours, get, rs, 51, ...  finance
162              [yadavayushmaan08gmailcom, bhej, ppt]    other
163  [free, dental, checkup, xray, family, dentist,...  finance
164  [invited, hike, join, 24, hours, get, rs, 51, ...  finance
165  [pizza, hut, 50, dont, cook, wednesday, get, 5...     food
166  [get, unlimited, pan, pizzas, garlic, breadrs,...     food
167  [hey, loving, new, hike, awesome, stickers, op...    other
168  [spl, bcom, classes, renowned, faculties, tax,...  finance
169  [pls, reach, email, mrchrisc1outlookcom, immed...    other
170  [pls, reach, email, mrchrisc1outlookcom, immed...    other
171  [pest, control, winter, offer, make, home, pes...  fashion
172  [thank, part, jio, family, stay, connected, la...  telecom
173  [plan, jio, 8178390589, expires, today, servic...  finance
174  [join, crash, course, engbstip, ecoafter, exce...    other
175  [pearl, academy, invites, launch, school, medi...  telecom
176  [main, tests15, live, classes35, video, lectur...  telecom
177  [personal, loan, lowest, rate, preclose, charg...  fashion
178  [looking, get, great, score, rank, jeemain18, ...    other
179  [spot, admissions, forensic, science, cardiac,...    other
180  [cbse, private, exam, 2018, forms, starting, c...    other
181  [receive, offer, lottery, winnings, cheap, fun...  fashion
182  [gokul, sent, blue, packet, expires, 59, mins,...  finance
183  [cbse, private, exam, 2018, forms, starting, c...    other

[7912 rows x 2 columns]

In [389]:
df['Label'].groupby(df['Label']).count()

Label
fashion     939
finance    1371
food        117
health      332
other      3354
telecom    1306
travel      493
Name: Label, dtype: int64

In [390]:
df_food = df[df['Label']=='food'].reset_index().drop(['index'],axis=1)
df_fashion = df[df['Label']=='fashion'].reset_index().drop(['index'],axis=1)
df_finance = df[df['Label']=='finance'].reset_index().drop(['index'],axis=1)
df_health = df[df['Label']=='health'].reset_index().drop(['index'],axis=1)
df_other = df[df['Label']=='other'].reset_index().drop(['index'],axis=1)
df_telecom = df[df['Label']=='telecom'].reset_index().drop(['index'],axis=1)
df_travel = df[df['Label']=='travel'].reset_index().drop(['index'],axis=1)

In [391]:
df_food = df_food[:117]
df_fashion = df_fashion[:117]
df_finance = df_finance[:117]
df_health = df_health[:117]
df_other = df_other[:117]
df_telecom = df_telecom[:117]
df_travel = df_travel[:117]

In [392]:
def finalfunc(cols):
    message = [st.stem(word) for word in cols]
    return(' '.join(message))

In [256]:
df_final['Body'] = df_final['Body'].apply(finalfunc)

In [120]:
#df_final

In [393]:
df_final = pd.concat([df_fashion,df_finance,df_food,df_health,df_telecom,df_travel])

In [394]:
df_final = df_final.sample(frac=1).reset_index(drop=True)

In [395]:
df_final.head()

                                                Body    Label
0  [monsoon, liveget, upto, 25medlife10mobikwikca...   health
1  [enjoy, saturdate, dominos, buy, mediumlarge, ...     food
2  [ek, behtar, lifestyle, ki, shuruaat, prateek,...   travel
3  [get, axis, bank, zone, credit, card, free, li...  finance
4  [haryana, govt, affordable, plots, deen, dayal...  finance

In [396]:
df_final['Body'] = df_final['Body'].apply(finalfunc)

In [258]:
df_final.head()

                                                Body    Label
0  bodi thank domino privileg guest regist receiv...     food
1  bodi festiv offer book home golf citi readi mo...  fashion
2  bodi pizza hut open baani squar sec 50 use cod...     food
3  bodi centrl govt aprvddelhi hous schemedwarka ...   travel
4  bodi centrl govt aprvddelhi hous schemeiidwark...   travel

In [397]:
X = df_final['Body']
y = df_final['Label']

In [398]:
from sklearn.naive_bayes import GaussianNB

In [399]:
from sklearn.model_selection import train_test_split

In [503]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10)

In [504]:
predictor = GaussianNB()

In [505]:
X_train

50     spl weekend offer free vitd tsh full check 73 ...
507    sip purchas folio 949181666 hdfc balanc funddp...
69     test intellig get surpris click http bajajhell...
482    good bad rough smooth celebr everyday dominose...
59     earn rs25000 annual also get lumpsum rs43 lac ...
587        babe go food fast tha jaak khao khana fatafat
513    deal week 60 health test rs999 diabtesthyroidc...
579    last day book full health checkup rs 599 cbclf...
667    post diwali health checkup rs2999 incl extend ...
442    weight lossin rs3000 3 monthslimit offerloos 3...
220    spl prediwali health offer buy 1 get 1 free fu...
653    lose weight full stomach anjali mukerje health...
497    get unlimit pan pizza garlic breadr 249 pizza ...
509    tri offer swiggi order khidmat use code khidma...
156    buy 1 get 1 free full checkup 2 rs 1299 50 tes...
41     great opportun book plot divin citi krishna vr...
170    get thyroid heart well packag 75 test thyroid ...
540    1 commerci develop gurgaon offer food court 5 ...
287    best luxuri villa godrej launch privat liftpar...
696    tri new domino soft crust top tastier sauc che...
180    stay vogu upto 80 amazon great indian festiv e...
302    fav domino veg pizza got better soft crustmor ...
195    full massag 799onli young femal therapist trea...
37     rs349unlimit locstd call28gb 1gbdinsabhi hs pa...
298    get unlimit pan pizza garlic breadr 249 pizza ...
39     gift urself domino pizza occas that domino whe...
528    hello chequ 015145 rs 6624 issu ac xxxx1359 re...
33     domino pizza got better soft crust bigger top ...
224    elig preapprov axi bank neo credit card appli ...
108    dear custom 4 miss call 918279925985 last miss...
                             ...
390    dear rwa member spl prediwali health offer buy...
27     lose weight full stomach anjali mukerje health...
240    earn 50k per month rera approv retail shopsfoo...
619    26th birthday bring extend shop hour shopper s...
531    pre leas multiplex food court shopsrs40 lac le...
612    join swiggi south delhi aur kamay 25000 rs tak...
458    thank domino privileg guest regist receiv domi...
331    attract interest rate ford aspir ford figo axi...
655    full checkup 750 64 testssugar lft kft lipid t...
72                                      😂😂😂😂 pizza khari
63     abhi nahi kabhi nahi book 3 bhk cost 2 bhk noi...
228    hey good news oneday approv credit card hurri ...
694    get thyroid heart well packag 75 test thyroid ...
19     rs349unlimit localstd call28gb 1gbdin28 din rs...
383    diwali prebook gold coin kalyan jewel shopper ...
345    dear rider welcom uber uber app design make bo...
676    flat 50 pay rs999 full checkup rs1999 71test v...
145    get flat 25 1st medicin order pharmeasi call 9...
286    make home festiv readi hicar safegovt approv p...
321    spl prediwali health offer buy 1 get 1 free fu...
488    last day offer save upto 4530medlife15mobikwik...
217    priy grahak aapk rs70 ke rchg ka benefit rs 70...
656    strive help improv health commun work live opt...
189    awesom sumita 240 point ushnakm claim reward r...
289    diwali offer rate zabardast toofan bhari jawan...
305    earn rs25000 annual also get lumpsum rs43 lac ...
24     rs349unlimit localstd call28gb 1gbdin28 din rs...
362    noida mein 1 bhk sirf 1375 lac 2 bhk sirf 22 l...
31     chang wish see enjoy chang new domino get 20of...
273    motap se mukti guarante ayurved capsul se mota...
Name: Body, Length: 631, dtype: object

In [506]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [507]:
xyz = CountVectorizer().fit(X_train)

In [508]:
xyz

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [509]:
xxx = xyz.transform(X_train)

In [510]:
print(xxx.get_shape())

(631, 2590)

In [511]:
from sklearn.naive_bayes import MultinomialNB
Fitter=MultinomialNB().fit(xxx,y_train)

In [512]:
all_predict = Fitter.predict(xxx)
from sklearn.metrics import classification_report
print(classification_report(y_train,all_predict))

             precision    recall  f1-score   support

    fashion       0.95      0.92      0.93       100
    finance       1.00      0.96      0.98       104
       food       1.00      1.00      1.00       106
     health       0.95      1.00      0.97       107
    telecom       0.97      1.00      0.99       111
     travel       1.00      0.98      0.99       103

avg / total       0.98      0.98      0.98       631

In [513]:
def text_process(mess):
    
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)

    
    
    # Now just remove any stopwords
    message = [word for word in nopunc.split() if word.lower() not in stopwords.words('English')]
    message = [st.stem(word) for word in message]
    return(' '.join(message))

In [514]:
from sklearn.naive_bayes import BernoulliNB

In [515]:
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=text_process)),  # strings to token integer counts
    
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])

In [516]:
pipeline.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('bow', CountVectorizer(analyzer=<function text_process at 0x1a136c82f0>,
        binary=False, decode_error='strict', dtype=<class 'numpy.int64'>,
        encoding='utf-8', input='content', lowercase=True, max_df=1.0,
        max_features=None, min_df=1, ngram_range=(1, 1), preprocessor=None,
        stop_words=None, strip_accents=None,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, vocabulary=None)), ('classifier', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [517]:
ans = pipeline.predict(X_test)

In [518]:
ans

array(['fashion', 'fashion', 'health', 'telecom', 'telecom', 'telecom',
       'food', 'health', 'fashion', 'health', 'finance', 'fashion',
       'telecom', 'fashion', 'food', 'food', 'telecom', 'telecom',
       'finance', 'travel', 'travel', 'fashion', 'fashion', 'travel',
       'travel', 'telecom', 'health', 'finance', 'fashion', 'health',
       'fashion', 'health', 'health', 'food', 'travel', 'food', 'health',
       'health', 'fashion', 'travel', 'fashion', 'fashion', 'finance',
       'telecom', 'telecom', 'health', 'fashion', 'fashion', 'fashion',
       'fashion', 'health', 'food', 'health', 'telecom', 'food',
       'fashion', 'food', 'food', 'telecom', 'fashion', 'travel',
       'travel', 'food', 'fashion', 'fashion', 'food', 'food', 'fashion',
       'travel', 'food', 'finance'], dtype='<U7')

In [519]:
print(classification_report(y_test,ans))

             precision    recall  f1-score   support

    fashion       0.52      0.65      0.58        17
    finance       0.80      0.31      0.44        13
       food       0.69      0.82      0.75        11
     health       0.58      0.70      0.64        10
    telecom       0.36      0.67      0.47         6
     travel       0.33      0.21      0.26        14

avg / total       0.56      0.54      0.52        71

In [526]:
pipeline.predict(['buy tops and fashion sale'])

array(['fashion'], dtype='<U7')

In [527]:
from sklearn.externals import joblib
joblib.dump(pipeline,'ModelTry.pkl')

['ModelTry.pkl']